body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: radial-gradient(#353535 5%, #000);
    color: white;
}

#timer, #dica{
    padding: 15px;
    flex-shrink: 1;
}

#timer{
    font-size: 2em;
    font-weight: bold;
}

#dica{
    display: none;
}

img{
    max-width: 300px;
    width: 80%;
    box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.22);
}

body > div{
    width: 60%;
    text-align: center;
}

div.flex{
    max-width: 900px;
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.botao{
 position: absolute;
 display: none;
 font-size: 4em;
 padding: 0px 20px;
 font-weight: bold;
 background-color: rgb(133, 6, 6);
}

#espacovazio{
    margin-top: 100px;
}

@media screen and (max-width: 500px){
    div.flex{
        flex-wrap: wrap;
    }
}